{% extends "base.html" %}

{% block title %}Completar Perfil de Aluno - Sistema Escolar{% endblock %}

{% block content %}

<div class="form-page-container">

    <div class="cadastro-container">
        <h2>Completar Perfil de Aluno</h2>
        <hr style="margin-bottom: 25px;">

        <form method="POST" action="{{ url_for('aluno.cadastro_aluno') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.matricula.label }}
                {{ form.matricula(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.opm.label }}
                {{ form.opm(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.turma_id.label }}
                {{ form.turma_id(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.num_aluno.label }}
                {{ form.num_aluno(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.funcao_atual.label }}
                {{ form.funcao_atual(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.foto_perfil.label }}
                {{ form.foto_perfil(class="form-control-file") }}
            </div>

            <div class="form-group">
                {{ form.telefone.label }}
                {{ form.telefone(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.data_nascimento.label }}
                {{ form.data_nascimento(class="form-control") }}
            </div>

            {{ form.submit(class="btn btn-primary", style="margin-top: 20px; width: 100%;") }}
        </form>
    </div>
</div>
{% endblock %}