{% extends "base.html" %}

{% block title %}Cadastro de Aluno (Admin) - Sistema Escolar{% endblock %}

{% block content %}
<div class="form-page-container">

    <div class="cadastro-container">
        <h2>Cadastrar Novo Aluno</h2>
        <hr style="margin-bottom: 25px;">

        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.nome_completo.label }}
                {{ form.nome_completo(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.foto_perfil.label }}
                {{ form.foto_perfil(class="form-control-file") }}
            </div>

            <div class="form-group">
                {{ form.matricula.label }}
                {{ form.matricula(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.password2.label }}
                {{ form.password2(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.opm.label }}
                {{ form.opm(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.turma_id.label }}
                {{ form.turma_id(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.funcao_atual.label }}
                {{ form.funcao_atual(class="form-control") }}
            </div>

            {{ form.submit(class="btn btn-primary", style="margin-top: 20px; width: 100%;") }}
        </form>
    </div>
</div>
{% endblock %}