{% extends "base.html" %}

{% block title %}Login - Sistema EsFAS{% endblock %}

{% block navbar_content %}{% endblock %}

{% block content %}
<div class="auth-page-container">
    <div class="auth-card">
        <div class="card-logo-container">
            <img src="{{ url_for('static', filename='brasao.png') }}" alt="Brasão da Escola">
        </div>
        <h2>Login no Sistema</h2>

        <form method="POST" action="{{ url_for('auth.login') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.login_identifier.label }}
                {{ form.login_identifier(class="form-control", placeholder="Digite sua Id Func ou usuário") }}
                {% for error in form.login_identifier.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control", placeholder="Digite sua senha") }}
                {% for error in form.password.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
        
        <div class="auth-link">
            <a href="{{ url_for('auth.register') }}">Não tem uma conta ativa? Ative aqui.</a>
        </div>
    </div>
</div>
{% endblock %}