{% extends "base.html" %}

{% block title %}Pré-Cadastro de Usuário{% endblock %}

{% block content %}
<div class="content-header">
    <h1>Pré-Cadastro de Usuário</h1>
    <p>Insira a Identidade Funcional (Id Func) para permitir que um novo usuário ative sua conta.</p>
</div>

<div class="table-container" style="max-width: 600px; margin: 0 auto;">
    <div class="table-header">
        <h3>Novo Pré-Cadastro</h3>
    </div>
    
    <form method="POST" action="{{ url_for('main.pre_cadastro') }}" style="padding: 1rem 0;">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.role.label }}
            {{ form.role(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.id_func.label }}
            {{ form.id_func(class="form-control", placeholder="Digite apenas números") }}
        </div>
        
        <div class="form-actions">
            <a href="{{ url_for('aluno.listar_alunos') }}" class="btn btn-secondary">Cancelar</a>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}