{% extends "base.html" %}

{% block title %}Ativar Conta - Sistema EsFAS{% endblock %}

{% block navbar_content %}{% endblock %}

{% block content %}
<div class="auth-page-container">
    <div class="auth-card" style="max-width: 450px;">
        <div class="card-logo-container">
            <img src="{{ url_for('static', filename='brasao.png') }}" alt="Brasão da Escola">
        </div>
        <h2>Ativar sua Conta</h2>
        <p style="font-size: 0.9rem; opacity: 0.8; margin-top: -15px; margin-bottom: 20px;">Complete seus dados para ativar seu acesso.</p>
        
        <form method="POST" action="{{ url_for('auth.register') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.role.label }}
                {{ form.role(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.id_func.label }}
                {{ form.id_func(class="form-control", placeholder="Digite sua Id Func (apenas números)") }}
                {% for error in form.id_func.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control", placeholder="Digite seu e-mail completo") }}
                {% for error in form.email.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class="form-control", placeholder="Digite seu nome de usuário") }}
                {% for error in form.username.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
                {% for error in form.password.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            
            <div class="password-rules">
                <small>A senha deve conter pelo menos 6 caracteres.</small>
            </div>
            
            <div class="form-group">
                {{ form.password2.label }}
                {{ form.password2(class="form-control") }}
                {% for error in form.password2.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            
            {{ form.submit(class="btn btn-primary") }}
        </form>
         <div class="auth-link">
            <a href="{{ url_for('auth.login') }}">Já tem uma conta ativa? Faça o login.</a>
        </div>
    </div>
</div>
{% endblock %}